<div class="col-sm-3 py-3">
  <%= link_to(tile.details_url, class: 'text-reset text-decoration-none') do %>
    <div class="card">
      <%= image_tag(tile.image_url, class: 'float') %>
      <div class="card-body">
        <p class="card-title"><strong><%= tile.title %></strong></p>
      </div>
    </div>
  <% end %>
</div>
