<div class="container-sm py-4">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag(@recipe_details.image_url, class: 'card-img') %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= @recipe_details.title %></h5>
          <% if @recipe_details.chef_name.present? %>
            <small><i>by <%= @recipe_details.chef_name %></i></small>
          <% end %>

          <p class="card-text"><%= markdown(@recipe_details.description) %></p>

          <% @recipe_details.tags.each do |tag| %>
            <span class="badge bg-secondary"><%= tag %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
